/* src/components/IECCodePage.css */

.iec-code-page {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #2c3e50;
}

.breadcrumb {
    color: #0066cc;
    font-size: 1rem;
    margin-bottom: 20px;
}

.breadcrumb a {
    text-decoration: none;
    color: #0066cc;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

.overview-section, .benefits-section, .validity-section {
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
    list-style-type: none; /* Removes the default bullet points */
}

ul li {
    font-size: 1rem;
    line-height: 1.6;
}

.action-buttons {
    display: flex;
    gap: 100px;
    margin-top: 30px;
}

.button {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.button--self-registration {
    background-color: #f8f9fa;
    color: #333;
}

.button--request-assistance {
    background-color: #f8f9fa;
    color: #333;
}

.button .icon {
    font-size: 1.2rem;
    margin-right: 8px;
}

.button:hover {
    background-color: #e6e6e6;
    transition: background-color 0.3s ease;
}

.open-modal-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .open-modal-button:hover {
    background-color: #0056b3;
  }
