/* App.css */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__content {
  display: flex;
  flex-grow: 1;
  transition: all 0.3s ease;
}

.app__main {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease; /* Smooth transition */
}

/* Adjust the main content width based on sidebar visibility */
.sidebar--visible + .app__main {
  margin-left: 250px; /* Width of the sidebar */
}

.sidebar + .app__main {
  margin-left: 0;
}

